@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

header {
    padding: 20px 0;
    background: linear-gradient(rgb(77, 76, 76), darkgray);
}

body {
    font-family: "Reddit Sans Condensed", sans-serif;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.logo {
    width: 150px;
    padding: 0;
}

.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo2 {
    width: 150px;
    margin-bottom: 10px;
}

.copyright {
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(rgb(77, 76, 76), darkgray);
    color: white;
}