@import url(https://fonts.google.com/share?selection.family=Reddit+Sans+Condensed:wght@200..900);

body {
    font-family: "Reddit Sans Condensed", sans-serif;
}

header {
    padding: 20px 0;
    background: linear-gradient(rgb(77, 76, 76), darkgray);
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

nav ul {
    display: inline;
    word-spacing: 10px;
}

nav {
    position: absolute;
    top: 45%;
    right: 0;
}

nav a:hover {
    color: whitesmoke;
    text-decoration: underline;
  }

.logo {
    width: 20%;
    transform: translate(-350px);
    padding: 20px;
}

.logo2 {
    width: 18%;
    margin: 0 auto;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.copyright {
    color: white;
    font-size: 15px;
    margin: 0 auto;
}

footer {
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(rgb(77, 76, 76), darkgray);
}

